{% extends 'layout.html' %}
{% block body %}
<div id='employer-shift-body'>
{% if workers %}
<select id='employee-schedule-dropdown' class="form-select employer-shift-select" aria-label="Default select example">
    <option selected disabled>Employees</option>
  
    {% for worker in workers  %}
    {% if worker.id != user.id %}
    <option value="{{ worker.id }}">{{ worker.workId }}</option>
    {% endif %}
    {% endfor %}
    {% endif %}
</select>
<!-- WE WILL WANT A TABLE THAT DISPLAYS EMPLOYEE SHIFT INFO ONCE AN EMPLOYEE IS CLICKED IN THE SELECT MENU -->
<table id="employer-schedule-table" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Schedule</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Start</th>
        <td class="schedule-cell" id="start-monday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-tuesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-wednesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-thursday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-friday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-saturday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-sunday"><input class='scheduling-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row">End</th>
        <td class="schedule-cell" id="end-monday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-tuesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-wednesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-thursday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-friday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-saturday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-sunday"><input class='scheduling-input' type='text' value='off'></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" id='submit-schedule'>Submit Schedule</button>
  <button class="btn btn-danger" id='reset-changes'>Reset Changes</button>

</div>
{% endblock %}