{% extends 'layout.html' %}
{% block body %}
<div id='employer-shift-body'>
{% if workers %}
<select id='employee-schedule-dropdown' class="form-select employer-shift-select" aria-label="List of employees" value='none'>
    <option selected hidden>Employees</option>
  
    {% for worker in workers  %}
    {% if worker.id != user.id %}
    <option value="{{ worker.id }}">{{ worker.workId }}</option>
    {% endif %}
    {% endfor %}
    {% endif %}
</select>
<select class='form-select' id="week" value='none'>
  
</select>
<!-- WE WILL WANT A TABLE THAT DISPLAYS EMPLOYEE SHIFT INFO ONCE AN EMPLOYEE IS CLICKED IN THE SELECT MENU -->
<table id="employer-schedule-table" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Schedule</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Start</th>
        <td class="schedule-cell" id="start-monday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-tuesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-wednesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-thursday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-friday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-saturday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="start-sunday"><input class='scheduling-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row">End</th>
        <td class="schedule-cell" id="end-monday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-tuesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-wednesday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-thursday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-friday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-saturday"><input class='scheduling-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-sunday"><input class='scheduling-input' type='text' value='off'></td>
      </tr>
    </tbody>
  </table>
  <!--  SECOND TABLE FOR JS MOBILE RESPONSIVENESS -->
  <table id="employer-schedule-table-mobile" class="table table-bordered">
    <thead class="thead-dark">
      <tr id='mobile-thead'>
        <th scope="col">Schedule</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class='weekday'>Monday</th>
        <td class="schedule-cell" id="start-monday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-monday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row" class='weekday'>Tuesday</th>
        <td class="schedule-cell" id="start-tuesday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-tuesday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row" class='weekday'>Wednesday</th>
        <td class="schedule-cell" id="start-wednesday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-wednesday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row" class='weekday'>Thursday</th>
        <td class="schedule-cell" id="start-thursday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-thursday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row" class='weekday'>Friday</th>
        <td class="schedule-cell" id="start-friday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-friday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row" class='weekday'>Saturday</th>
        <td class="schedule-cell" id="start-saturday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-saturday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
      <tr>
        <th scope="row" class='weekday'>Sunday</th>
        <td class="schedule-cell" id="start-sunday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
        <td class="schedule-cell" id="end-sunday"><input class='scheduling-input mobile-input' type='text' value='off'></td>
      </tr>
          
    </tbody>
  </table>
  <button type="button" class="btn btn-primary shift-buttons" id='submit-schedule' data-bs-toggle="modal" data-target="#shift-change-modal">
    Submit Schedule
  </button>
  <button class="btn btn-danger shift-buttons" id='reset-changes'>Reset Changes</button>

<table id="shift-page-avail-table" class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Availability</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
      <th scope="col">Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Morning</th>
      <td class="avail-cell" id="morning-monday"></td>
      <td class="avail-cell" id="morning-tuesday"></td>
      <td class="avail-cell" id="morning-wednesday"></td>
      <td class="avail-cell" id="morning-thursday"></td>
      <td class="avail-cell" id="morning-friday"></td>
      <td class="avail-cell" id="morning-saturday"></td>
      <td class="avail-cell" id="morning-sunday"></td>
    </tr>
    <tr>
      <th scope="row">Evening</th>
      <td class="avail-cell" id="evening-monday"></td>
      <td class="avail-cell" id="evening-tuesday"></td>
      <td class="avail-cell" id="evening-wednesday"></td>
      <td class="avail-cell" id="evening-thursday"></td>
      <td class="avail-cell" id="evening-friday"></td>
      <td class="avail-cell" id="evening-saturday"></td>
      <td class="avail-cell" id="evening-sunday"></td>
    </tr>
    <tr>
      <th scope="row">All</th>
      <td class="avail-cell" id="all-monday"></td>
      <td class="avail-cell" id="all-tuesday"></td>
      <td class="avail-cell" id="all-wednesday"></td>
      <td class="avail-cell" id="all-thursday"></td>
      <td class="avail-cell" id="all-friday"></td>
      <td class="avail-cell" id="all-saturday"></td>
      <td class="avail-cell" id="all-sunday"></td>
    </tr>
  </tbody>
</table>
<!--  mobile shift page avail table -->
<table id="shift-page-avail-mobile" class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th id='avail-mobile-thead' scope="col">Availability</th>
      <th class='shift-mobile' scope="col">Morning</th>
      <th class='shift-mobile' scope="col">Evening</th>
      <th class='shift-mobile' scope="col">All</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td class="avail-cell" id="morning-monday"></td>
      <td class="avail-cell" id="evening-monday"></td>
      <td class="avail-cell" id="all-monday"></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td class="avail-cell" id="morning-tuesday"></td>
      <td class="avail-cell" id="evening-tuesday"></td>
      <td class="avail-cell" id="all-tuesday"></td>
    </tr>
    <tr>
    <th scope="row">Wednesday</th>
      <td class="avail-cell" id="morning-wednesday"></td>
      <td class="avail-cell" id="evening-wednesday"></td>
      <td class="avail-cell" id="all-wednesday"></td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td class="avail-cell" id="morning-thursday"></td>
      <td class="avail-cell" id="evening-thursday"></td>
      <td class="avail-cell" id="all-thursday"></td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td class="avail-cell" id="morning-friday"></td>
      <td class="avail-cell" id="evening-friday"></td>
      <td class="avail-cell" id="all-friday"></td>
    </tr>
    <tr>
      <th scope="row">Saturday</th>
      <td class="avail-cell" id="morning-saturday"></td>
      <td class="avail-cell" id="evening-saturday"></td>
      <td class="avail-cell" id="all-saturday"></td>
    </tr>
    <tr>
      <th scope="row">Sunday</th>
      <td class="avail-cell" id="morning-sunday"></td>
      <td class="avail-cell" id="evening-sunday"></td>
      <td class="avail-cell" id="all-sunday"></td>
    </tr>
  </tbody>
</table>


</div>
<!-- BS MODAL -->
<div class="modal fade" id="shift-change-modal" tabindex="-1" role="dialog" aria-labelledby="shift-change-modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shift-change-modalLabel">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='shift-change-modal' class="modal-body">
        Are you sure you want to make these shift changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id='shift-save'class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}