{% extends "layout.html" %} {% load static %}{% block body %}
    <div id='home-main'>
    <div id='memo-container'>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

            {% for i in counter %}

              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}"></button>
            {% endfor %}
            </div>
            <div id='memoNotice' class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2500">
                  <div class="carousel-caption d-md-block">

                    <h5>Memo Board</h5>
                    <p>Keep up to date with information across your company</p>
                  </div>
                </div>
            
            {% for memo in context.memos %}
            <div id='{{ memo.id }}' class="carousel-item" data-bs-interval="20000">

                <div class="carousel-caption d-md-block">
                  <h5>{{ memo.subject }}</h5>
                  <p>{{ memo.body }}</p>
                </div>
              </div>
          
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      {% if user.isEmployer %}
      <div id='memo-buttons'>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Update Crew
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"><input id='memo-subject-input' type='text' placeholder='Memo Subject'></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <textarea id='memo-body-input' type='text' placeholder='Memo Body'></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button id='submit-memo' type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          
        <button id='remove-memo' class='btn btn-danger' data-bs-toggle="modal" data-bs-target="#removeModal">Remove this Memo</button>
        <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeModalLabel">Please Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h6 id='remove-memo-check'></h6>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id='remove-memo-confirm' type="button" class="btn btn-danger">Remove Current Memo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      </div>
      <div id='right-container'>
        <h3 style='text-align: center;'>E-Learning</h3>
        <div id='eLearn-main-cont'>
          <div id='eLearn-todo' class='eLearn-row'>
            
          </div>
          <div id='eLearn-complete' class='eLearn-row'>
            
            <section>
            <div class="card home-card" style="width: 18rem;">
              <img class="card-img-top" src="{% static '/media/cs50.png' %}" alt="Card image cap">
              <div class="home-card-body">
                <h5 class="card-title">CS50x</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </section>
            <section>
            <div class="card home-card" style="width: 18rem;">
              <img class="card-img-top" src="{% static '/media/cs50w.png' %}" alt="Card image cap">
              <div class="home-card-body">
                <h5 class="card-title">CS50w</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </section>
            <section>
            <div class="card home-card" style="width: 18rem;">
              <img class="card-img-top" src="{% static '/media/fcc.png' %}" alt="Card image cap">
              <div class="home-card-body">
                <h5 class="card-title">FCC Responsive Web Design</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </section>
            <section>
            <div class="card home-card" style="width: 18rem;">
              <img class="card-img-top" src="{% static '/media/fcc.png' %}" alt="Card image cap">
              <div class="home-card-body">
                <h5 class="card-title">FCC Javascript</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </section>
          </div>
        </div>
      </div>
    </div>
      <div id='clock-container'>
        <div id='clock-in-out' class='clock-cont-child'>
          {% if context.hoursToday %}
            <h5>Clock Status: On</h5>
          {% else %}
            <h5>Clock Status: Off</h5>
          {% endif %}
            <div id='clock-buttons'>
                <button type='button' id='clock-in' class='btn btn-success'>Clock In</button>
                <button type='button' id='clock-out' class='btn btn-danger'>Clock Out</button>
            </div>
            <h5>Shift:</h5>
            <h5>{{ context.shift }}</h5>
        </div>
        <div id='hours-today' class='clock-cont-child'>
            <h4>Hours Today: </h4>
            {% if context.hoursToday %}
            <h5>{{ context.hoursToday }}</h5>
            {% else %}
            <h6>None yet</h6>
            {% endif %}
            <h4>Hours this Week:</h4>
            {% if user.hoursWorked %}
            <h5>{{ user.hoursWorked }}</h5>
            {% else %}
            <p>No time this week</p>
            {% endif %}
        </div>
      </div>

</div>
{% endblock %}
