{% extends 'layout.html' %}
{% block body %}
<div id='msg-page-body '>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg height='25px' width='25px' class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/>
          <symbol id="info-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </symbol>
        </svg>
        <div>
          The live chat functionality is currently unavailable.
        </div>
        <button id='close-tab-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div id='all-messages-container'>
        <h2 class='msg-head'>{{ user.company }}</h2>
        <p class='msg-head'>Here you can see and create messages to keep healthy communication with your team</p>
    <hr class='msg-split'>
    {% for message in context.messages %}
    {% if message.fromUserId == user.id %}
        <section class='single-message-container fromUser'>
            <h6 class='single-message-username'>{{ message.fromUser }}</h6>
            <p class='single-message-body'>{{ message.content }}</p>
            <p class='single-message-timestamp'>{{ message.timestamp.month }}/{{ message.timestamp.day }} </p>
        </section>
        {% else %}
        <section class='single-message-container'>
            <h6 class='single-message-username'>{{ message.fromUser }}</h6>
            <p class='single-message-body'>{{ message.content }}</p>
            <p class='single-message-timestamp'>{{ message.timestamp.month }}/{{ message.timestamp.day }} </p>
        </section>
        {% endif %}
    {% endfor %}
        
            <div id='msg-input' class="input-group mb-3">
                <input type="text" id='msg-body' class="form-control" placeholder="Message" aria-label="message-input" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
            </div>
        
    </div>
</div>
{% endblock %}