{% extends 'layout.html' %} {% block body %}
<div id="availability">
  <table id="avail-table" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Availability</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Morning</th>
        <td class="avail-cell" id="morning-monday"></td>
        <td class="avail-cell" id="morning-tuesday"></td>
        <td class="avail-cell" id="morning-wednesday"></td>
        <td class="avail-cell" id="morning-thursday"></td>
        <td class="avail-cell" id="morning-friday"></td>
        <td class="avail-cell" id="morning-saturday"></td>
        <td class="avail-cell" id="morning-sunday"></td>
      </tr>
      <tr>
        <th scope="row">Evening</th>
        <td class="avail-cell" id="evening-monday"></td>
        <td class="avail-cell" id="evening-tuesday"></td>
        <td class="avail-cell" id="evening-wednesday"></td>
        <td class="avail-cell" id="evening-thursday"></td>
        <td class="avail-cell" id="evening-friday"></td>
        <td class="avail-cell" id="evening-saturday"></td>
        <td class="avail-cell" id="evening-sunday"></td>
      </tr>
      <tr>
        <th scope="row">All</th>
        <td class="avail-cell" id="all-monday"></td>
        <td class="avail-cell" id="all-tuesday"></td>
        <td class="avail-cell" id="all-wednesday"></td>
        <td class="avail-cell" id="all-thursday"></td>
        <td class="avail-cell" id="all-friday"></td>
        <td class="avail-cell" id="all-saturday"></td>
        <td class="avail-cell" id="all-sunday"></td>
      </tr>
    </tbody>
  </table>
  <!--  MOBILE-TABLE   -->
  <table id="avail-table-mobile" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th id='avail-mobile-thead' scope="col">Availability</th>
        <th class='shift-mobile' scope="col">Morning</th>
        <th class='shift-mobile' scope="col">Evening</th>
        <th class='shift-mobile' scope="col">All</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td class="avail-cell" id="morning-monday"></td>
        <td class="avail-cell" id="evening-monday"></td>
        <td class="avail-cell" id="all-monday"></td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td class="avail-cell" id="morning-tuesday"></td>
        <td class="avail-cell" id="evening-tuesday"></td>
        <td class="avail-cell" id="all-tuesday"></td>
      </tr>
      <tr>
      <th scope="row">Wednesday</th>
        <td class="avail-cell" id="morning-wednesday"></td>
        <td class="avail-cell" id="evening-wednesday"></td>
        <td class="avail-cell" id="all-wednesday"></td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td class="avail-cell" id="morning-thursday"></td>
        <td class="avail-cell" id="evening-thursday"></td>
        <td class="avail-cell" id="all-thursday"></td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td class="avail-cell" id="morning-friday"></td>
        <td class="avail-cell" id="evening-friday"></td>
        <td class="avail-cell" id="all-friday"></td>
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        <td class="avail-cell" id="morning-saturday"></td>
        <td class="avail-cell" id="evening-saturday"></td>
        <td class="avail-cell" id="all-saturday"></td>
      </tr>
      <tr>
        <th scope="row">Sunday</th>
        <td class="avail-cell" id="morning-sunday"></td>
        <td class="avail-cell" id="evening-sunday"></td>
        <td class="avail-cell" id="all-sunday"></td>
      </tr>
    </tbody>
  </table>

  <div id="profile-buttons">
    <button type="button" id="reset-avail" class="btn btn-danger">Reset</button>
    {% csrf_token %}
    <button type="button" id="submit-avail" class="btn">Submit</button>
  </div>
  <div id='profile-user-info'>
    <h2 style='text-align: center; padding-top: 2%;'>Your Company Fingerprint</h2>
    <hr style='background-color: black;'>
    <p class='user-info-items'><strong>First Name:</strong> {{ user.first_name }}</p>
    <p class='user-info-items'><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p class='user-info-items'><strong>Work ID:</strong> {{ user.workId }}</p>
    <p class='user-info-items'><strong>Joined Company:</strong> {{ user.date_joined.date }}</p>
    <p class='user-info-items'><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    <p class='user-info-items'><strong>Pay Rate:</strong> {{ user.payRate }}</p>
    <p class='user-info-items'><strong>Company:</strong> {{ user.company }}</p>
  </div>
  
  <div id='task-container'>
    {% if user.isEmployer %}
    <div>
      <h2>Add tasks:</h2>
      <button type="button" id='add-task-button' class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add-task-modal">
        <i class="bi bi-plus-square" style="font-size: 2rem;" alt='Add Task'></i>
      </button>
    </div>
    {% endif %}
    <div id='existing-tasks'>
      <h2>Tasks</h2>
      <!-- GET TASKS FROM DB AND DISPLAY -->
    </div>
    <div id='employees'>
      <h2>Team List</h2>
      {% for emp in context.employees %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ emp.first_name }} {{ emp.last_name }}</h5>
          <p class="card-text">{{ user.company }}</p>
          <p>{% if emp.isEmployer %}
            Role: Manager
            {% else %}
            Role: Teammember
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<div class="modal" id="add-task-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <div id="emp-list" class="dropdown-check-list" tabindex="100">
                <span class="selector">Select Employee(s)</span>
                <ul class="items">
                  {% for emp in context.employees %}
                  {% if emp.workId != user.workId %}
                  <li><input class='employees-check' type="checkbox" value='{{ emp.workId }}'>{{ emp.first_name }} {{ emp.last_name }}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea id='task-textarea' placeholder='Task'></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id='submit-task' value='POST' class="btn btn-primary">Assign Task</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
