{% extends 'layout.html' %} {% block body %}
<div id="shift-table-cont">
  <table id="shift-table" class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Schedule</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Clock In</th>
        <td class="shift-cell" id="clock-in-monday">
          {% if schedule.monday == 'off' %} {{ schedule.monday }} {% else %}{{ schedule.monday.0 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-in-tuesday">
          {% if schedule.tuesday == 'off' %} {{ schedule.tuesday }} {% else %}{{ schedule.tuesday.0 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-in-wednesday">
          {% if schedule.wednesday == 'off' %} {{ schedule.wednesday }} {% else %}{{ schedule.wednesday.0 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-in-thursday">
          {% if schedule.thursday == 'off' %} {{ schedule.thursday }} {% else %}{{ schedule.thursday.0 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-in-friday">
          {% if schedule.friday == 'off' %} {{ schedule.friday }} {% else %}{{ schedule.friday.0 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-in-saturday">
          {% if schedule.saturday == 'off' %} {{ schedule.saturday }} {% else %}{{ schedule.saturday.0 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-in-sunday">
          {% if schedule.sunday == 'off' %} {{ schedule.sunday }} {% else %}{{ schedule.sunday.0 }} {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Clock Out</th>
        <td class="shift-cell" id="clock-out-monday">
        {% if schedule.monday == 'off' %} {{ schedule.monday }} {% else %}{{ schedule.monday.1 }} {% endif %}
      </td>
        <td class="shift-cell" id="clock-out-tuesday">
          {% if schedule.tuesday == 'off' %} {{ schedule.tuesday }} {% else %}{{ schedule.tuesday.1 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-out-wednesday">
          {% if schedule.wednesday == 'off' %} {{ schedule.wednesday }} {% else %}{{ schedule.wednesday.1 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-out-thursday">
          {% if schedule.thursday == 'off' %} {{ schedule.thursday }} {% else %}{{ schedule.thursday.1 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-out-friday">
          {% if schedule.friday == 'off' %} {{ schedule.friday }} {% else %}{{ schedule.friday.1 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-out-saturday">
          {% if schedule.saturday == 'off' %} {{ schedule.saturday }} {% else %}{{ schedule.saturday.1 }} {% endif %}
        </td>
        <td class="shift-cell" id="clock-out-sunday">
          {% if schedule.sunday == 'off' %} {{ schedule.sunday }} {% else %}{{ schedule.sunday.1 }} {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
