@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Space Grotesk', sans-serif !important;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.full-page{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: #63ACE5;
}

.navbar-brand{
    color: #e7eff6 !important;
}
.nav-link{
    color: #e7eff6 !important;
    font-size: 1.5rem !important;
    transition: color 50ms ease-in-out 25ms;   
}
.nav-link:hover{
    color: #2a4d69 !important;
}

#reg-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* REG PAGE */
@media (max-width: 650px) { 

    #register-form{
        min-height: 75%;
        min-width: 55%;
    }
    .form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
    }
    .form-inputs{
        padding-top: 5%;
    }
 }
 /*   REG PAGE DESKTOP STYLES   */
 @media (min-width: 650px) { 

    #register-form{
        display: flex;
        justify-content: center;
        min-height: 50%;
        min-width: 20%;
        margin-bottom: 10%;
    }
    .form{
        min-height: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #63ACE5 ;
        border: 10px solid transparent; 
        border-radius: 50%;
    }
    .form-inputs{
        padding-top: 1.5%;
    }
}


.wave-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-footer svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 133px;
}
@media (max-width: 767px) {
    .wave-footer svg {
        width: calc(160% + 1.3px);
        height: 50px;
    }
}

.wave-footer .shape-fill {
    fill: #63ACE5;
}


/* LOGIN VIEW */

@media (max-width: 650px){
    .login-form-inputs{
        padding-top: 10%;
    }
}
@media (min-width: 650px){
    .login-form-inputs{
        padding-top: 5%;
    }
}

/* Profile Page */
#availability{
    position: relative;
    margin: 2%;
    width: 100%;
}
#avail-table{
    width: 60vw;
    display:table;
}
.avail-cell{
    display: table-cell;
}
#submit-avail{
    background-color: limegreen;
    color: white;
}
#submit-avail:hover{
    background-color: rgb(9, 182, 9);
}
#profile-buttons{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    
}
#avail-table-mobile{
    display: none;
}
#profile-user-info{
    position: absolute;
    height: auto;
    width: 20vw;
    border: 1px solid black;
    right: 0;
    top: 0;
    margin-right: 4vw;
    font-size: 1.2rem;
    padding-left: 1%;
    padding-right: 1%;
}
.user-info-items{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    #availability{
        margin-left: 0;
    }
    #profile-buttons{
        width: 90vw;
        margin-left: 5vw;
    }
    #profile-buttons button{
        width: 20%;
        font-size: 1.1rem;
    }
    #avail-table-mobile{
        margin-left: 0;
        display: block;
        width: 100vw;
    }
    #avail-mobile-thead{
        width: 30vw;
    }
    .shift-mobile{
        width: 23.33vw;
    }
    #avail-table{
        display: none;
    }
}

/* shift page */
#shift-table-cont{
    margin: 2%;
}

/* EMPLOYER SECTION */
#employer-shift-body{
    margin: 1%;
}

.employer-shift-select{
    width: 20%;
}

#employer-schedule-table{
    margin-top: 1%;
}
.scheduling-input{
    width: 60%;
}
#employer-schedule-table-mobile{
    display: none;
}
#shift-page-avail-table{
    margin-top: 1%;
}
/* SHIFT PAGE MOBILE */
@media (max-width: 800px) { 
    #employer-schedule-table{
        display: none;
    }
    #employer-schedule-table-mobile{
        display: block;
        width: 100%;
    }
    .weekday{
        width: 40vw;
    }
    .schedule-cell{
        width: 30vw;
    }


 }
/* HOME PAGE */

/*  Main containers */
#home-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#memo-container{
    margin: 2%;
    display: block !important;
    padding-bottom: 20%;
    color: black;
    height: 35%;
    width: 95%;
}
#clock-container{
    margin: 2%;
    color: black;
    height: 25%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#right-container{
    height: 750px;
    width: 50vw;
    float: right;
    background-color: lightblue !important;;
}
#eLearn-main-cont{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*   Container children   */
.carousel{
    position: absolute !important;
    border-radius: 2%;
}
.carousel-inner{
    height: 100%;
}
.carousel-item{
    height: 100%;
}
.carousel-caption{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 0 !important;
    height: 75%;
}
.carousel-caption h5{
    height: 30%;
}
.carousel-caption p{
    height: 60%;
    font-size: 1.1em;
}
#carouselExampleDark{
    width: 30%;
    height: 300px;
    background-color: #f5f5f5;
}
#memo-buttons{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#memo-body-input{
    width: 100%;

}

#clock-buttons{
    display: flex;
    flex-direction: column;
}
#clock-buttons button{
    margin-bottom: 5%;
}
.clock-cont-child{
    background-color: #f5f5f5;
    width: 45%;
    height: 100%;
    padding: 2%; 
    text-align: center;
}
#hours-today{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*   RIGHT CONTAINER CHILDREN   */
.eLearn-row{
    height: 45%;
    background-color: #2a4d69;
    margin: 2%;
}

/*  -------------- HOME PAGE MOBILE --------------  */
@media (max-width: 650px) { 
    .carousel-indicators{
        display: none !important;
    }
    #carouselExampleDark{
        
        font-size: .8rem;
        width: 94%;
        margin: 1.5%;
    }
    #right-container{
        margin-top: 91vh;
        width: 95vw;
        float: none;
    }
    #clock-container{
        margin-top: 17vh;
        width: 90vw;
    }
    #clock-in-out{
        width: 40vw;
    }
    #hours-today{
        width: 40vw;
    }
 }



#msg-page-body{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
#all-messages-container{
    height: 85vh;
    width: 50vw;
    margin: 20px;
    border: 2px solid rgba(99, 172, 229, .7);
    border-radius: 10px;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: lightgrey white;


}
.msg-split{
    background-color: #63ACE5;
    opacity: .7;
}
.single-message-container{
    width: auto;
    font-size: 1rem;
    background-color: rgb(226, 223, 223);
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    
    border: 2px solid transparent;
    border-radius: 20px;
}
.fromUser{
    margin-left: 10vw !important;
    margin-right: 10px !important;
    color: white;
    background-color: #63ACE5;
}
.single-message-username{

}
.single-message-body{
    margin-bottom: 0;
}
.single-message-timestamp{
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
}

.msg-head{
    color: #63ACE5;
    opacity: .9;
    text-align: center;
}
#msg-input{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 100vh;
}
/*   messages mobile css   */
@media (max-width: 1100px) { 
    #all-messages-container{
        width: 90vw;
    }

 }