@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Space Grotesk', sans-serif !important;
}
body{
    height: 95vh;
    width: 100vw;
    overflow: hidden;
}
.full-page{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: #63ACE5;
}

.navbar-brand{
    color: #e7eff6 !important;
}
.nav-link{
    color: #e7eff6 !important;
    font-size: 1.5rem !important;
    transition: color 50ms ease-in-out 25ms;   
}
.nav-link:hover{
    color: #2a4d69 !important;
}

#reg-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* REG PAGE */
@media (max-width: 650px) { 

    #register-form{
        min-height: 75%;
        min-width: 55%;
    }
    .form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
    }
    .form-inputs{
        padding-top: 5%;
    }
 }
 /*   REG PAGE DESKTOP STYLES   */
 @media (min-width: 650px) { 

    #register-form{
        display: flex;
        justify-content: center;
        min-height: 50%;
        min-width: 20%;
        margin-bottom: 10%;
    }
    .form{
        min-height: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #63ACE5 ;
        border: 10px solid transparent; 
        border-radius: 50%;
    }
    .form-inputs{
        padding-top: 1.5%;
    }
}


.wave-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-footer svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 133px;
}
@media (max-width: 767px) {
    .wave-footer svg {
        width: calc(160% + 1.3px);
        height: 50px;
    }
}

.wave-footer .shape-fill {
    fill: #63ACE5;
}


/* LOGIN VIEW */

@media (max-width: 650px){
    .login-form-inputs{
        padding-top: 10%;
    }
}
@media (min-width: 650px){
    .login-form-inputs{
        padding-top: 5%;
    }
}

/* Profile Page */
#availability{
    
    margin: 2%;
    width: 100%;
}
#avail-table{
    width: 60%;
}
#submit-avail{
    background-color: limegreen;
    color: white;
}
#submit-avail:hover{
    background-color: rgb(9, 182, 9);
}
#profile-buttons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    
}


/* shift page */
#shift-table-cont{
    margin: 2%;
}

/* EMPLOYER SECTION */
#employer-shift-body{
    margin: 1%;
}

.employer-shift-select{
    width: 20% !important;
}

#employer-schedule-table{
    margin-top: 1%;
}
.scheduling-input{
    width: 60%;
}

/* HOME PAGE */
#memo-container{
    margin: 2%;
    color: black;
    height: 50%;
}
.carousel{
    position: absolute !important;
    border-radius: 5%;
}
#carouselExampleDark{
    width: 30%;
    height: 30%;
    background-color: #f5f5f5;
}